In [1]:
from google.cloud import bigquery
# import pandas_gbq
%load_ext google.cloud.bigquery

# Set your default project here
# pandas_gbq.context.project = 'snappy-boulder-378707'
# pandas_gbq.context.dialect = 'standard'

import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")

import pandas as pd
import numpy as np
import os
import glob
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../letsgo-snappy-boulder-378707-4b7d46801fd1.json"

# Construct a BigQuery client object.
client = bigquery.Client()

from statsmodels.formula.api import ols
import json
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import requests
from spotipy.oauth2 import SpotifyOAuth
from tqdm import tqdm

In [3]:
CLIENT_ID = "1df428c209e1446393cb65f76ad8b561"
CLIENT_SECRET = "9aa98cbea9044e5da7773b54d15c8a45"
client_credentials_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager,  requests_timeout=5, retries=5)
sp

# query audio features

In [4]:
%%bigquery audiofeatures
SELECT * FROM snappy-boulder-378707.AudioFeatures.AudioFeatures

Query is running:   0%|          |

Downloading:   0%|          |

In [6]:
audiofeatures

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,id,duration_ms,time_signature
0,0.000,0.053600,4,-20.628,0,0.0000,0.994000,0.961000,0.1040,0.0000,0.000,24pxMjslKW09Ew6LMUs0Og,138153,0
1,0.000,0.000289,0,-26.453,1,0.0000,0.924000,0.959000,0.1110,0.0000,0.000,66tcVcibuPYWs182LeINwu,189600,0
2,0.000,0.641000,2,-6.749,1,0.0000,0.138000,0.000000,0.3600,0.0000,0.000,2qTh0uDCWUZ9G9xZO7RqGd,96183,0
3,0.000,0.042100,8,-26.134,1,0.0000,0.996000,0.967000,0.0996,0.0000,0.000,4Dud0QWbw1Xp3z7tqpg1NA,127000,0
4,0.000,0.084200,9,-19.397,1,0.0000,0.755000,0.889000,0.2620,0.0000,0.000,3sAYxq1986j3ydqLv6jwUJ,432533,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75026,0.378,0.964000,10,-4.218,1,0.3400,0.153000,0.000000,0.5440,0.6520,127.336,2TPVcP6b0YQ436pzI2uxjL,274000,5
75027,0.506,0.877000,0,-5.730,1,0.0320,0.000052,0.776000,0.0712,0.3020,114.589,65ShmiE5aLBdcIGr7tHX35,426680,5
75028,0.506,0.691000,9,-7.180,1,0.0441,0.000661,0.024700,0.2470,0.0783,121.919,0fwyr7AWGLlUgQbu4jTnY4,62568,5
75029,0.631,0.535000,1,-6.602,1,0.4240,0.834000,0.000037,0.0898,0.3090,122.607,6r5ThDX3rDYvOHxixSjwvX,173373,5
75030,0.356,0.718000,7,-8.868,1,0.2810,0.661000,0.457000,0.4490,0.2300,126.420,3dM4hhMProiNu1ipWq2s2w,316693,5

In [10]:
melted_df = pd.melt(audiofeatures, id_vars=['id'], value_vars=['danceability', 'energy', 'key','loudness','mode','speechiness','acousticness','instrumentalness','liveness','valence','tempo','duration_ms','time_signature'], var_name='AudioFeature', value_name='Value')

In [32]:
melted_df

                            id    AudioFeature Value
0       24pxMjslKW09Ew6LMUs0Og    danceability   0.0
1       66tcVcibuPYWs182LeINwu    danceability   0.0
2       2qTh0uDCWUZ9G9xZO7RqGd    danceability   0.0
3       4Dud0QWbw1Xp3z7tqpg1NA    danceability   0.0
4       3sAYxq1986j3ydqLv6jwUJ    danceability   0.0
...                        ...             ...   ...
975398  2TPVcP6b0YQ436pzI2uxjL  time_signature     5
975399  65ShmiE5aLBdcIGr7tHX35  time_signature     5
975400  0fwyr7AWGLlUgQbu4jTnY4  time_signature     5
975401  6r5ThDX3rDYvOHxixSjwvX  time_signature     5
975402  3dM4hhMProiNu1ipWq2s2w  time_signature     5

[975403 rows x 3 columns]

In [14]:
melted_df.to_csv('meltedaudiofaeture')

# query album info

In [15]:
%%bigquery album
SELECT * FROM snappy-boulder-378707.TrackClearInfo.AlbumInfo

Query is running:   0%|          |

Downloading:   0%|          |

In [16]:
album

,id,name,total_tracks,release_date,extract_date,available_markets
0,5Da24tiYjKHIhWSdqxV9cf,Sensacion Latina,1,2022-04-10,2023-03-24,0
1,0qD5tOnKT5sfK0FlIuS7ke,That's Hot,1,2015-01-01,2023-03-24,0
2,7cKUmOWK25W0Xj7que25jF,Heart Ake,1,2023-01-24,2023-03-24,0
3,7mVJtnGHJWeb5bCBPBx5Mx,[Vol.14] You Hee yul's Sketchbook 10th Anniver...,1,2019-04-20,2023-03-24,0
4,5MZKFK86eeePrGps5ljMPp,Seguiré Vivo,1,2021-03-04,2023-03-24,0
...,...,...,...,...,...,...
58130,3XXKD7oise1AekkRWE9aRu,Passed Me By,3,2023-04-04,2023-04-07,184
58131,39pwm6XqSwGxzEm0gVYSL1,Spotify Singles,2,2023-04-05,2023-04-07,184
58132,7jf5ctiKWBPBQ6vNrRTI7B,In The Joy (feat. Anderson .Paak),1,2023-04-07,2023-04-07,184
58133,6du4ktHaeE4Ot5dpDh57ya,Who's Taking You Home,1,2023-04-07,2023-04-07,184
58134,0ulArbgB8WgKtxbuBtKDYO,Older ft Jimmie Allen & Dixie D'Amelio,1,2023-04-07,2023-04-07,184

In [17]:
album['release_date_year'] = pd.to_datetime(album['release_date']).dt.year

In [18]:
album

,id,name,total_tracks,release_date,extract_date,available_markets,release_date_year
0,5Da24tiYjKHIhWSdqxV9cf,Sensacion Latina,1,2022-04-10,2023-03-24,0,2022
1,0qD5tOnKT5sfK0FlIuS7ke,That's Hot,1,2015-01-01,2023-03-24,0,2015
2,7cKUmOWK25W0Xj7que25jF,Heart Ake,1,2023-01-24,2023-03-24,0,2023
3,7mVJtnGHJWeb5bCBPBx5Mx,[Vol.14] You Hee yul's Sketchbook 10th Anniver...,1,2019-04-20,2023-03-24,0,2019
4,5MZKFK86eeePrGps5ljMPp,Seguiré Vivo,1,2021-03-04,2023-03-24,0,2021
...,...,...,...,...,...,...,...
58130,3XXKD7oise1AekkRWE9aRu,Passed Me By,3,2023-04-04,2023-04-07,184,2023
58131,39pwm6XqSwGxzEm0gVYSL1,Spotify Singles,2,2023-04-05,2023-04-07,184,2023
58132,7jf5ctiKWBPBQ6vNrRTI7B,In The Joy (feat. Anderson .Paak),1,2023-04-07,2023-04-07,184,2023
58133,6du4ktHaeE4Ot5dpDh57ya,Who's Taking You Home,1,2023-04-07,2023-04-07,184,2023
58134,0ulArbgB8WgKtxbuBtKDYO,Older ft Jimmie Allen & Dixie D'Amelio,1,2023-04-07,2023-04-07,184,2023

In [19]:
melted_album = pd.melt(album, id_vars=['id'], value_vars=['release_date_year'], var_name='release_year', value_name='year')

In [21]:
melted_album=melted_album.drop('release_year',axis=1)

In [27]:
melted_album = melted_album.rename(columns={'id': 'album_id'})

In [28]:
melted_album

                     album_id  year
0      5Da24tiYjKHIhWSdqxV9cf  2022
1      0qD5tOnKT5sfK0FlIuS7ke  2015
2      7cKUmOWK25W0Xj7que25jF  2023
3      7mVJtnGHJWeb5bCBPBx5Mx  2019
4      5MZKFK86eeePrGps5ljMPp  2021
...                       ...   ...
58130  3XXKD7oise1AekkRWE9aRu  2023
58131  39pwm6XqSwGxzEm0gVYSL1  2023
58132  7jf5ctiKWBPBQ6vNrRTI7B  2023
58133  6du4ktHaeE4Ot5dpDh57ya  2023
58134  0ulArbgB8WgKtxbuBtKDYO  2023

[58135 rows x 2 columns]

# query track info

In [23]:
%%bigquery track
SELECT * FROM snappy-boulder-378707.TrackClearInfo.TrackClearInfo

Query is running:   0%|          |

Downloading:   0%|          |

In [25]:
track_album = track[['id','album_id']]

In [26]:
track_album

                           id                album_id
0      4pthvdNd1EypeNic7l5ngz  62S9H2fOKaEZzgwQjOByY5
1      2bspClUExhxJar6YUxxwYG  0Xg6PuT8HwO9p8yW2JwW76
2      5ADiy8c2ir9ewoKnsGWrYs  3NvakF8DkALyWdzQabFo1S
3      7tSMeZ48hGkBk2GU9jUgPq  2dG0OUg0ugMFeIxVW0yAdK
4      3RURlH48MgaRZF0NpDStEf  0IxJHWlkcEFo4ZDmIvW7O5
...                       ...                     ...
75095  59hBR0BCtJsfIbV9VzCVAp  781fDX4OibkZA9fj56Ycbz
75096  22I3h5AOENlH4CqXJsEbFR  2LbrGt2oc08xV8IDJvLzYi
75097  70LcF31zb1H0PyJoS1Sx1r  3gBVdu4a1MMJVMy6vwPEb8
75098  7oLKoGzQVwjZ91AzCn560T  0OQjYkxlKHsQwYLJziIQrI
75099  5wxYxygyHpbgv0EXZuqb9V  70xdtgH5XuYTqBNdNbUwGO

[75100 rows x 2 columns]

# merge album & track

In [30]:
merged_album_track = pd.merge(track_album, melted_album, on='album_id')

In [31]:
merged_album_track

                           id                album_id  year
0      4pthvdNd1EypeNic7l5ngz  62S9H2fOKaEZzgwQjOByY5  2017
1      2bspClUExhxJar6YUxxwYG  0Xg6PuT8HwO9p8yW2JwW76  2014
2      5ADiy8c2ir9ewoKnsGWrYs  3NvakF8DkALyWdzQabFo1S  2011
3      7tSMeZ48hGkBk2GU9jUgPq  2dG0OUg0ugMFeIxVW0yAdK  2019
4      3RURlH48MgaRZF0NpDStEf  0IxJHWlkcEFo4ZDmIvW7O5  2015
...                       ...                     ...   ...
75198  59hBR0BCtJsfIbV9VzCVAp  781fDX4OibkZA9fj56Ycbz  2023
75199  22I3h5AOENlH4CqXJsEbFR  2LbrGt2oc08xV8IDJvLzYi  2014
75200  70LcF31zb1H0PyJoS1Sx1r  3gBVdu4a1MMJVMy6vwPEb8  1993
75201  7oLKoGzQVwjZ91AzCn560T  0OQjYkxlKHsQwYLJziIQrI  2022
75202  5wxYxygyHpbgv0EXZuqb9V  70xdtgH5XuYTqBNdNbUwGO  2023

[75203 rows x 3 columns]

In [35]:
merged_audio = pd.merge(merged_album_track, melted_df, on='id')

In [38]:
merged_audio

,id,album_id,year,AudioFeature,Value
0,4pthvdNd1EypeNic7l5ngz,62S9H2fOKaEZzgwQjOByY5,2017,danceability,0.771
1,4pthvdNd1EypeNic7l5ngz,62S9H2fOKaEZzgwQjOByY5,2017,energy,0.629
2,4pthvdNd1EypeNic7l5ngz,62S9H2fOKaEZzgwQjOByY5,2017,key,0
3,4pthvdNd1EypeNic7l5ngz,62S9H2fOKaEZzgwQjOByY5,2017,loudness,-4.259
4,4pthvdNd1EypeNic7l5ngz,62S9H2fOKaEZzgwQjOByY5,2017,mode,0
...,...,...,...,...,...
976737,5wxYxygyHpbgv0EXZuqb9V,70xdtgH5XuYTqBNdNbUwGO,2023,liveness,0.0921
976738,5wxYxygyHpbgv0EXZuqb9V,70xdtgH5XuYTqBNdNbUwGO,2023,valence,0.813
976739,5wxYxygyHpbgv0EXZuqb9V,70xdtgH5XuYTqBNdNbUwGO,2023,tempo,94.074
976740,5wxYxygyHpbgv0EXZuqb9V,70xdtgH5XuYTqBNdNbUwGO,2023,duration_ms,214701
976741,5wxYxygyHpbgv0EXZuqb9V,70xdtgH5XuYTqBNdNbUwGO,2023,time_signature,4

# average value group by year

In [54]:
grouped_df = merged_audio.groupby(['year', 'AudioFeature']).mean()

In [55]:
grouped_df

                               Value
year AudioFeature
1900 acousticness           0.918000
     danceability           0.520857
     duration_ms       244516.285714
     energy                 0.256699
     instrumentalness       0.144247
...                              ...
2023 mode                   0.627160
     speechiness            0.084440
     tempo                117.912214
     time_signature         3.887036
     valence                0.406596

[1274 rows x 1 columns]

In [57]:
new_df = pd.DataFrame({'year': grouped_df.index.get_level_values('year'),
                       'AudioFeature': grouped_df.index.get_level_values('AudioFeature'),
                       'average value': grouped_df['Value']})

In [69]:
new_df

                       year      AudioFeature  average value
year AudioFeature
1900 acousticness      1900      acousticness       0.918000
     danceability      1900      danceability       0.520857
     duration_ms       1900       duration_ms  244516.285714
     energy            1900            energy       0.256699
     instrumentalness  1900  instrumentalness       0.144247
...                     ...               ...            ...
2023 mode              2023              mode       0.627160
     speechiness       2023       speechiness       0.084440
     tempo             2023             tempo     117.912214
     time_signature    2023    time_signature       3.887036
     valence           2023           valence       0.406596

[1274 rows x 3 columns]

In [62]:
new_df.to_csv('avg_audio.csv')

# load to big query

In [64]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../letsgo-snappy-boulder-378707-4b7d46801fd1.json"

# Construct a BigQuery client object.
client = bigquery.Client()

In [65]:
dataset_id = "snappy-boulder-378707.FeatureDistribution"
dataset = bigquery.Dataset(dataset_id)
dataset.location = "US"
dataset = client.create_dataset(dataset, timeout=30)
print("Created dataset {}.{}".format(client.project, dataset.dataset_id))

Created dataset snappy-boulder-378707.FeatureDistribution

In [66]:
schema = [
    bigquery.SchemaField("year","INTEGER"),
    bigquery.SchemaField("AudioFeature","STRING"),
    bigquery.SchemaField("average value","FLOAT"),
]

In [67]:
table_id = "snappy-boulder-378707.FeatureDistribution.FeatureDistribution"
table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table, timeout=30)  # Make an API request.
print("Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id))

Created table snappy-boulder-378707.FeatureDistribution.FeatureDistribution

In [68]:
job_config = bigquery.LoadJobConfig(
    schema = schema,
    source_format=bigquery.SourceFormat.CSV,
    skip_leading_rows=1,
    autodetect=True,
)

file_path = 'avg_audio.csv'
table_id = "snappy-boulder-378707.FeatureDistribution.FeatureDistribution"

with open(file_path, "rb") as source_file:
    job = client.load_table_from_file(source_file, table_id, job_config=job_config)

job.result()  # Waits for the job to complete.

table = client.get_table(table_id)  # Make an API request.
print(
    "Loaded {} rows and {} columns to {}".format(
        table.num_rows, len(table.schema), table_id
     )
)

Loaded 1274 rows and 3 columns to snappy-boulder-378707.FeatureDistribution.FeatureDistribution